KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/memory/gdtasm.o \
$(ARCHDIR)/interruptions/idtasm.o \
$(ARCHDIR)/interruptions/isrsasm.o \
$(ARCHDIR)/interruptions/irqasm.o \
$(ARCHDIR)/memory/pagingasm.o \
$(ARCHDIR)/memory/tss.o \
$(ARCHDIR)/memory/gdt.o \
$(ARCHDIR)/interruptions/idt.o \
$(ARCHDIR)/interruptions/isrs.o \
$(ARCHDIR)/interruptions/irq.o \
$(ARCHDIR)/memory/paging.o \
$(ARCHDIR)/memory/alloc.o \
$(ARCHDIR)/memory/vmm.o \
$(ARCHDIR)/interruptions/timers.o \
$(ARCHDIR)/keyboard.o \
